<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppSecret</key>
	<string>ssAR6SlDQb4XOofR7QrSMlrtVd55Q285</string>
	<key>APIKey</key>
	<string>q7Y3SHAYJqKo</string>
	<key>AppId</key>
	<string>2ejlW2BQo9</string>
</dict>
</plist>
